.c-content-center1{
  background-image: url("/Users/tims/Dropbox/Apps/Byword/coding/isara/img/iSara[イサラ]｜バンコクのノマドエンジニア育成講座_files/introbottom.jpg");
  background-size: cover;
  width: 100%;
  height: 588px;
  position: relative;
  &__lead {
    margin: 0 auto;
    padding: 50px 0px 0px;
    font-size: 28px;
    text-align: center;
  }
  &__follow--top {
    margin: 0px auto;
    padding: 33px 0px 0px;
    font-size: 20px;
    text-align: center;
    width: 800px;
  }
  &__follow--next {
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    width: 800px;
  }
}

.c-content-center3 {
  height: 511px;
  width: 100px;
  background-color: white;
  
}