.c-content__center1{
  background-image: url("/Users/tims/Dropbox/Apps/Byword/coding/isara/img/iSara[イサラ]｜バンコクのノマドエンジニア育成講座_files/introbottom.jpg");
  background-size: contain;
  width: 100%;
  text-align: center;
  height: 588px;
}