.p-section__photo{
  height:420px;
  width:100%;
  background-image: url("/Users/tims/Dropbox/Apps/Byword/coding/isara/img/iSara[イサラ]｜バンコクのノマドエンジニア育成講座_files/aboutsecondbg.jpg");
  background-size: cover;
}
.p-card--three {
  display: flex;
  justify-content: center;
}
.p-section1 {
  width: 100%;
  text-align: center;
&__text--whitelg{
  color: white;
  font-size: 28px;
  padding-top: 63px;
} 
&__text--whitemed{
  color: white;
  font-size: 20px;
  padding-top: 12px;
}
}

.p-section2-caption-shrt {
  background-color: #026EA9;
  width: 100%;
  height: 141px;
  position: relative;
  &__text{
    color:white;
    position: absolute;
  top: 50%; /*親要素を起点に上から50%*/
  left: 50%;  /*親要素を起点に左から50%*/
  transform: translateY(-50%) translateX(-50%); /*要素の大きさの半分ずつを戻す*/
  -webkit-transform: translateY(-50%) translateX(-50%);
  font-size: 20px;
  }
}

.p-section_small {
  position: relative;
  margin: 0 auto;
  text-align: center;
}



.p-section__small--oval {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background:#EBB94D;
  top: -40px;
  font-size: 14px;
  color: white;
  line-height: 80px;
  text-align: center;
  z-index: 10;
}

.p-content-center2 {
    background-color: #FEF5E0 ;
    width: 100%;
    height: 588px;
    position: relative;
    &__lead {
      margin: 0 auto;
      padding: 120px 0px 0px;
      font-size: 24px;
      text-align: center;
      font-weight: 600;
    }
    &__lead2 {
      margin: 0 auto;
      padding: 10px 0px 0px;
      font-size: 24px;
      text-align: center;
      font-weight: 600;
    }
    &__follow--top {
      margin: 0px auto;
      padding: 64px 0px 0px;
      font-size: 16px;
      text-align: center;
      font-weight: 600;
    }
    &__follow--top {
      margin: 0px auto;
      padding: 74px 0px 0px;
      font-size: 16px;
      text-align: center;
    }
  
}

.p-content-center2-inner {
  background-color: white ;
  position: relative;
  top: 35px; 
  margin: 0px 10px 0px 10px;
  height: 227px;
  border: 1px solid #EBB94D;
  &__lead {
    margin: 0px auto;
    padding: 27px 0px 0px;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
  }
  &__follow--top {
    margin: 0px auto;
    padding: 27px 0px 0px;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
  }
}


