.p-section__photo{
  height:420px;
  width:100%;
  background-image: url("/Users/tims/Dropbox/Apps/Byword/coding/isara/img/iSara[イサラ]｜バンコクのノマドエンジニア育成講座_files/aboutsecondbg.jpg");
  background-size: cover;
}
.p-card--three {
  display: flex;
  justify-content: center;
}
.p-section1 {
  width: 100%;
  text-align: center;
&__text--whitelg{
  color: white;
  font-size: 28px;
  padding-top: 63px;
}  
}
